.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers {
  background: #fcfcfc;
  margin-bottom: 1em;
}

.ball {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #666;
  color: #fff;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  font-size: 2rem;
  font-weight:  bold;
  margin-right: 5px;
  margin-left: 5px;
}

.btn-container {
  padding: 1em;
  text-align: center;
}

.btn-container button {
  padding: 10px 30px;
  background: #498EEB;
  border: none;
  color: #fff;
}